telegraf:
  version: 0.13.2
  source_hash: '90388d5dc0e4c3fd86341fcf6bbbd48d'
  pkgname: "telegraf-"
  pkguri: 'https://dl.influxdata.com/telegraf/releases'
  agent:
    hostname: foobar
  global_tags:
    env: staging
  inputs:
    -
      plugin_name: redis
      servers:
        - "tcp://localhost:6379"
      tags:
        az: us-east-1
  outputs:
    -
      plugin_name: librato
      api_user: foo@bar.com
      api_token: secret
